<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>MadLiar</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="博主CL，编程爱好者。“madliar”意为“疯子”、“谎言者”，略含贬义， 但它挺适合这个博客的：博文大多只是我个人肤浅的观点，少数粗浅的学习笔记">
    <meta name="keywords" content="MADLIAR, CL, CL's 疯言疯语, 疯言疯语, 风言风语, CL博客"/>
    <meta name="author" content="CL">

    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/new_blog.css">
</head>

<body>
<div class="inner-body">
<div id="header">
    <div class="pixel-font" id="header-title">MADL!AR</div>
    <div class="pixel-font">Code is cheap, show me the PPT!</div>
    <div class="nav">
        <span class="nav-item" id="home">
            <a href="/blog"><i class="fa fa-home" aria-hidden="true"></i>首页</a>
        </span>
        <span class="nav-item" id="category">
            <a href="/blog/category"><i class="fa fa-list-alt" aria-hidden="true"></i>分类</a>
        </span>
        <span class="nav-item" id="Fragment">
            <a href="/notebook"><i class="fa fa-map-signs" aria-hidden="true"></i>Fragment</a>
        </span>
        <span class="nav-item" id="about">
            <a href="/blog/about"><i class="fa fa-list-alt" aria-hidden="true"></i>关于</a>
        </span>
    </div>
</div>
<div id="page-body">
{% if page == "home" %}
    <div class="second-title">最近发布</div>
    {% for article in articles %}
        <div class="article-bar">
            <a href="/blog/article/{{ article.identity }}" target="_blank">
                <span class="article-date">{{ article.date }}</span>
                <span class="article-title">{{ article.title }}</span>
            </a>
        </div>
    {% endfor %}
{% endif %}
{% if page == "article" %}
    <div class="second-title">{{ article.title }}</div>
    <div class="article-property">

        {% if article.category %}
            <span class="article-property-item">分类：{{ article.category }}</span>
        {% endif %}

        {% if article.tags %}
            <span class="article-property-item">标签：
                {% for tag in article.tags %}
                    <span class="article-property-tag">{{ tag }}</span>
                {% endfor %}
            </span>
        {% endif %}

        <span class="article-property-item">发布于: {{ article.date }}</span>
    </div>
    <div id="article-show"></div>
    <div class="article-content"><textarea id="article-content-textarea" class="hidden-area">{{ article.content }}</textarea></div>
    <script></script>
{% endif %}
{% if page == "category" %}
    <div class="second-title">分类</div>
    <p>等到文章多一点的时候再做这个页面吧</p>
{% endif %}
{% if page == "about" %}
    <div class="second-title">关于</div>
    <p>这是我的个人博客，用来记录一些笔记和想法。</p>
    <p>友情链接：
    <ul>
        <li><a href="https://www.jianshu.com/u/44e417ef7b5d">简书·偷闲一天打个盹</a></li>
        <li><a href="https://wangyu.name/">WangYu's Space</a></li>
        <li><a href="https://pico.org.cn/">树莓派Pico中文站</a></li>
        <li><a href="https://www.taterli.com/">TaterLi 个人博客</a></li>
    </ul>
    </p>
{% endif %}
</div>
    <div id="footer" class="copyright center">
        <p><span>© 2014 - 2023 madliar.com</span>&nbsp|&nbsp<span><a href="http://beian.miit.gov.cn/" target="_blank">陕ICP备16003242号</a></span>&nbsp|&nbsp<span><a href="/old">旧版</a></span></p>
    </div>
</div>
{% if page == "article" %}
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/marked.js"></script>
<script>
$(function(){
    $("#article-show").html(marked($("#article-content-textarea").val()));
});
</script>
{% endif %}
</body>
</html>
