<!DOCTYPE html>
<html  class="no-js" lang="zh-CN">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8">
    <title>Grafana</title>
    <meta name="author" content="Caoliang">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ CDN_URL }}/static/css/font-awesome.min.css">
    <script type="text/javascript" src="{{ CDN_URL }}/static/js/jquery.min.js"></script>
    <style>
        body{
            margin: 0;
            padding: 0;
            display: block;
            height: 100%;
            width: 100%;
            position: absolute;
        }
    </style>
</head>
<body>
<iframe id="grafana" name="frame" src="https://www.madliar.com:233" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="350px" height="150px"></iframe>
</body>
</html>